/* FONTS */
@font-face {
  font-family: "Futura CXB";
  src: url("../assets/fonts/Futura-CondensedExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Jackey";
  src: url("../assets/fonts/jackeyfont.ttf") format("truetype");
}

/* APP */
html,
body {
  font-size: 14px;
  line-height: 2;
  background-color: #f5183d;
  margin: 0;
  transition: 0.3s ease-in-out;
  width: 100%;
}
/* 
#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
} */

#three-container {
  display: flex;
  height: 100%;
  margin: auto;
  position: absolute;
  width: 100%;
}

.app {
  height: 100vh;
  width: 100%;
}

/* NAVBAR */
.nav {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 3vh;
  height: 12%;
  justify-content: space-evenly;
  mix-blend-mode: difference;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* ICON LINKS */
a {
  color: #f5183d;
  cursor: pointer;
  text-decoration: none;
}

/* TITLE PAGE */
.overlay {
  color: #f5183d;
  display: table;
  height: 100%;
  margin: auto;
  mix-blend-mode: difference;
  overflow: visible;
  position: relative;
  text-align: center;
  user-select: none;
  width: 100%;
  word-wrap: break-word;
}

.title {
  animation: mover 5s infinite ease-in-out;
  display: table-cell;
  font-family: "Futura CXB";
  font-size: 12vw;
  letter-spacing: -0.3rem;
  vertical-align: middle;
}

.shiplog-top {
  display: block;
  width: 100%;
  height: 90px;
  background: transparent;
  fill: #111;
  margin-bottom: -1px;
}

/* SHIPLOG */
.shiplog-wrapper {
  font-family: "Fira Code";
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}

.shiplog {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  color: #f5183d;
  background: #111;
}

.shiplog-nav {
  position: sticky;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  width: 20%;
  height: 100vh;
  padding: 0 3%;
  border: #f5183d solid 1px;
  color: #f5183d;
  background: #111;
}

ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
}

.log-wrapper {
  color: #ddd;
  text-align: left;
  font-weight: 400;
  padding: 10vmin 7vmin;
  background: #111;
  overflow: auto;
  overflow-wrap: break-word;
  padding-bottom: 0;
}

.log-wrapper-light {
  background: #ddd;
}

.code {
  color: #ccc;
  font-size: 1rem;
  margin: 3vmin 0 3vmin 0;
  background: rgb(12, 12, 12);
  overflow: scroll;
  white-space: pre;
  line-height: 3;
}

.code-i {
  color: rgb(159, 103, 255);
  padding: 1vmin;
  background: rgb(12, 12, 12);
  overflow: scroll;
  white-space: pre;
  line-height: 3;
  display: inline;
}

.log-date {
  color: #f5183d;
  text-transform: uppercase;
  white-space: pre;
  margin: 0;
}

.log-tags {
  color: #f5183d;
  text-transform: uppercase;
  white-space: pre;
  line-height: 4;
}

.log-tag {
  background: #191919;
  margin: 10px 10px 10px 0;
  padding: 5px 10px;
  width: 50%;
}

.log-title {
  margin-top: 0;
}

.log-separator {
  line-height: 3;
}

.log-body {
  font-size: 1.3rem;
  line-height: 3;
}

h1 {
  font-size: 3rem;
  line-height: 2;
  color: #f5183d;
}

h2,
h3 {
  margin-top: 5rem;
  color: #f5183d;
}

img {
  max-width: 80%;
  border: #f5183d solid 1px;
  margin: 10vmin 0;
}

#read-on-medium {
  background: #f5183d;
  color: #191919;
  margin: 10px 10px 10px 0;
  padding: 5px 10px;
  width: fit-content;
}

/* LOGO */
.vskullogo {
  background-image: url("../assets/images/vs_skull.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 3vw;
  cursor: pointer;
  height: 7%;
  left: 3vw;
  position: fixed;
  width: 7%;
}

/* UTILITY  */
.fade-in {
  opacity: 1 !important;
}

.fade-out {
  opacity: 0 !important;
}

/* ANIMATIONS */
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* RESPONSIVE */
@media only screen and (max-width: 600px) {
  .pnav {
    font-size: 1.5vh;
  }
  .body {
    scroll-behavior: smooth;
  }
  .title {
    letter-spacing: -0.1rem;
  }
  .shiplog-wrapper {
    flex-direction: column-reverse;
  }
  .shiplog {
    width: 100%;
  }
  .shiplog-nav {
    flex-direction: row;
    width: 94%;
    position: relative;
    height: auto;
  }
  .log-title {
    font-size: 2rem;
  }
  .code {
    font-size: 10px;
  }
}
