/* FONTS */
@font-face {
  font-family: "Futura CXB";
  src: url("../assets/fonts/Futura-CondensedExtraBold.ttf") format("truetype");
}

/* APP */
html,
body {
  background-color: #f5183d;
  height: 100vh;
  margin: 0;
  transition: 0.5s linear;
  width: 100%;
  z-index: -2;
}

#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

#three-container {
  display: flex;
  height: 100%;
  margin: auto;
  position: fixed;
  width: 100%;
  z-index: 0;
}

.app {
  display: table;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

/* NAVBAR */
.nav {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 3vh;
  height: 12%;
  justify-content: space-evenly;
  line-height: 100%;
  mix-blend-mode: difference;
  position: fixed;
  width: 100%;
  z-index: 90;
}
/* NAV ICON LINKS */
a {
  color: #f5183d;
  cursor: pointer;
  text-decoration: none;
}

/* TITLE PAGE */
.title-overlay {
  color: #f5183d;
  display: table;
  height: 100%;
  margin: auto;
  mix-blend-mode: difference;
  overflow: visible;
  position: absolute;
  text-align: center;
  user-select: none;
  width: 100%;
  word-wrap: break-word;
  z-index: 5;
}

.title {
  animation: mover 5s infinite ease-in-out;
  display: table-cell;
  font-family: "Futura CXB";
  font-size: 12vw;
  letter-spacing: -0.3rem;
  vertical-align: middle;
}

.desc {
  animation: mover 5s infinite ease-in-out;
  display: none;
  color: unset;
  font-family: "Pixeland";
  text-align: right;
  font-weight: 100;
  font-size: 5vw;
  padding: 0 25vmin 0 25vmin;
  vertical-align: middle;
}

#vic {
  animation: mover 5s infinite ease-in-out;
  color: #bd1430;
  font-family: "Futura CXB";
  font-size: 30vw;
  letter-spacing: -0.3rem;
  margin: auto;
  opacity: 1;
  position: relative;
}

/* LOGO */
.vskullogo {
  background-image: url("../assets/images/vs_skull.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 3vw;
  cursor: pointer;
  height: 7%;
  left: 3vw;
  position: fixed;
  width: 7%;
  z-index: 5;
}

/* UTILITY  */
.fade-in {
  opacity: 1 !important;
}

.fade-out {
  opacity: 0 !important;
}

/* ANIMATIONS */
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* RESPONSIVE */
@media only screen and (max-width: 600px) {
  .pnav {
    font-size: 1.5vh;
  }
}
