/* FONTS */

/* APP */

html,
body {
  overflow: hidden;
  background-color: #f5183d;
  margin: 0;
}

.header {
  font-family: Gotham XNarrow;
  /* background-color: #f5183d; */
  /* border: greenyellow 1px dotted; */
  font-size: 1rem;
  padding: 0 20px;
  z-index: 1;
}

h1 {
  margin-top: 15px;
}

#root {
  height: 100%;
  width: 100%;
}

#three-container {
  position: absolute;
  margin: auto;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  #three-container {
    position: relative;
  }
}
