/* FONTS */
@font-face {
  font-family: "Gotham XNarrow";
  src: url("GothamXNarrow-UltraItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Futura CXB";
  src: url("Futura-CondensedExtraBold.ttf") format("truetype");
}
/* APP */

html,
body {
  overflow: scroll;
  background-color: #f5183d;
  margin: 0;
  width: 100%;
  z-index: -2;
  height: 200vh;
}

#root {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

#three-container {
  position: absolute;
  display: flex;
  margin: auto;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.App {
  display: table;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.title-overlay {
  text-align: center;
  margin: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  overflow: visible;
  color: #f5183d;
  user-select: none;
  mix-blend-mode: difference;
  z-index: 2;
}

#title {
  font-family: "Futura CXB";
  font-size: 12vw;
  animation: mover 5s infinite ease-in-out;
  /* transform: skewY(-20deg); */
  margin-top: 40vmin;
  opacity: 1;
  letter-spacing: -0.5rem;
}

.about {
  flex-direction: row;
  height: 100vh;
  width: 100%;
  /* background-image: url("victorhead.jpg");
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat; */
}

#about-text {
  text-align: left;
  vertical-align: middle;
  font-family: "Futura CXB";
  font-size: 2.5vw;
  /* transform: skewY(-20deg); */
  padding: 10vh 35vw 0 6vw;
  opacity: 1;
  letter-spacing: -0.15rem;
  z-index: 1;
  /* background-color: black;
  mix-blend-mode: difference;
  color: red; */
}

.overlay-menu {
  font-size: 3vh;
  position: fixed;
  /* background: lime; */
  display: flex;
  justify-content: space-evenly;
  line-height: 100%;
  align-items: center;
  height: 12%;
  width: 100%;
  cursor: pointer;
  z-index: 5;
  mix-blend-mode: difference;
}

a {
  text-decoration: none;
  color: #f5183d;
  /* transition: 0.2s ease-in-out; */
}

.vskullogo {
  position: fixed;
  bottom: 3vw;
  left: 3vw;
  background-image: url("vs_skull.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 7%;
  width: 7%;
  z-index: 5;
  cursor: pointer;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* iphone x */
@media only screen and (max-width: 600px) {
  #title {
    font-size: 27vw;
    margin-top: 40vh;
  }
  #about-text {
    font-size: 5vw;
    margin-top: 0vh;
    padding: 10vh 10vw;
  }
}
