/* FONTS */
@font-face {
  font-family: 'Gotham XNarrow';
  src: url('GothamXNarrow-UltraItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Futura CXB';
  src: url('Futura-CondensedExtraBold.ttf') format('truetype');
}

/* APP */
html,
body {
  background-color: #f5183d;
  margin: 0;
  width: 100%;
  z-index: -2;
  height: 100vh;
  transition: 0.5s linear;
}

#root {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

#three-container {
  position: FIXED;
  display: flex;
  margin: auto;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.App {
  display: table;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

/* NAVBAR */
.nav {
  font-size: 3vh;
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  line-height: 100%;
  align-items: center;
  height: 12%;
  width: 100%;
  cursor: pointer;
  z-index: 5;
  mix-blend-mode: difference;
}

.nav-solid {
  mix-blend-mode: normal;
  color: black;
  background: #f5183d;
}

.nav-solid a {
  color: black;
}

/* TITLE PAGE */
.title-overlay {
  display: table;
  text-align: center;
  margin: auto;
  position: absolute;

  width: 100%;
  height: 100%;
  word-wrap: break-word;
  overflow: visible;
  color: #f5183d;
  user-select: none;
  mix-blend-mode: difference;
  z-index: 5;
}

/* .fade-in { */
/* opacity: 1 !important; */
/* } */

/* .fade-out { */
/* opacity: 0 !important; */
/* } */

#title {
  font-family: 'Futura CXB';
  display: table-cell;
  vertical-align: middle;
  font-size: 12vw;

  animation: mover 5s infinite ease-in-out;
  margin-top: 40vmin;
  margin-bottom: 0;
  opacity: 1;
  letter-spacing: -0.3rem;
}

.about {
  display: flex;
  user-select: none;
  overflow: hidden;
  opacity: 1;
  flex-direction: column;
  justify-items: center;
  height: 100vh;
  width: 100%;
  align-items: center;
  transition: 0.5s linear;
  background-position: bottom right;
  background-repeat: no-repeat;
  /* transition: 0.3s ease-in-out; */
  background-size: 100%;
}

#vic {
  position: relative;
  margin: auto;
  font-family: 'Futura CXB';
  font-size: 30vw;
  opacity: 1;
  animation: mover 5s infinite ease-in-out;
  letter-spacing: -0.3rem;
  color: #bd1430;
}

#sidious {
  position: absolute;
  display: table;
  width: 100vw;
  height: 100vh;
  font-family: 'Futura CXB';
  font-size: 3.5vh;
  text-align: center;
  opacity: 1;
  letter-spacing: -0.1rem;
  color: #f5183d;
  mix-blend-mode: difference;
}

#sidious h1 {
  display: table-cell;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #f5183d;
  cursor: pointer;
  /* transition: 0.2s ease-in-out; */
}

/* VIC SIDIOUS LOGO */
.vskullogo {
  position: fixed;
  bottom: 3vw;
  left: 3vw;
  background-image: url('vs_skull.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 7%;
  width: 7%;
  z-index: 5;
  cursor: pointer;
}

/* ANIMATIONS */
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* RESPONSIVE */
@media only screen and (max-width: 1024px) {
}
