@font-face {
    font-family: 'Signor';
    src: url('Signor-Ultra.eot');
    src: url('Signor-Ultra.eot?#iefix') format('embedded-opentype'),
        url('Signor-Ultra.woff2') format('woff2'),
        url('Signor-Ultra.woff') format('woff'),
        url('Signor-Ultra.ttf') format('truetype'),
        url('Signor-Ultra.svg#Signor-Ultra') format('svg');
    font-weight: 900;
    font-style: normal;
}

