/* FONTS */

@font-face {
  font-family: "GothamXNUI";
  src: url("./assets/fonts/Gotham/GothamXNarrow-UltraItalic.woff2")
      format("woff2"),
    url("./assets/fonts/Gotham/GothamXNarrow-BlackItalic.woff") format("woff");
}

@font-face {
  font-family: "GothamXNBI";
  src: url("./assets/fonts/Gotham/GothamXNarrow-BlackItalic.woff2")
      format("woff2"),
    url("./assets/fonts/Gotham/GothamXNarrow-BlackItalic.woff") format("woff");
}

/* APP */

html,
body {
  background-color: #111;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #111;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  /* transform: skew(12deg); */
  font-family: GothamXNUI, sans-serif;
  color: rgb(255, 31, 15);
  mix-blend-mode: color-dodge;
  line-height: 30%;
  font-size: 10vh;
}

.App-link {
  color: red;
}

#under-development {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
  width: 70vw;
  background: url(./assets/images/vic_super_back.png);
  background-size: cover;
  mix-blend-mode: difference;
}
