/* FONTS */

@font-face {
	font-family: "Madman";
	src: url("./assets/fonts/TheTypingofaMadman/TheTypingofaMadman.woff2")
			format("woff2"),
		url("./assets/fonts/TheTypingofaMadman/TheTypingofaMadman.woff")
			format("woff");
}

@font-face {
	font-family: "GothamXNUI";
	src: url("./assets/fonts/Gotham/GothamXNarrow-UltraItalic.woff2")
			format("woff2"),
		url("./assets/fonts/Gotham/GothamXNarrow-BlackItalic.woff")
			format("woff");
}

@font-face {
	font-family: "GothamXNBI";
	src: url("./assets/fonts/Gotham/GothamXNarrow-BlackItalic.woff2")
			format("woff2"),
		url("./assets/fonts/Gotham/GothamXNarrow-BlackItalic.woff")
			format("woff");
}

$bloodred: #ff0026;
$spacegray: #111111;

/* HTML AND BODY */
html {
	margin: 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	overflow: scroll;
	padding: 0;
	width: 100%;
	height: 100%;
	background: $spacegray;
}

body {
	margin: auto;
	padding: auto;
	overflow: scroll;
	// width: 100%;
	// height: 100%;
}

/* TEXTS */

a {
	text-decoration: none;
}

h1 {
	font-family: GothamXNBI;
	font-weight: 200;
	color: red;
	text-align: center;
	margin: auto;
	line-height: 100%;
	margin: 10% auto;
	z-index: 9;
}

h1:hover {
	transform: skew(20deg);
}

ul {
	margin: 0;
	padding: 0;
	z-index: 9;
}

li {
	list-style: none;
	// transition: ease-in-out 200ms;
	z-index: 9;
	transform: skew(20deg);
}

li:hover {
	color: #ff3a20;
	cursor: pointer;
	// filter: hue-rotate(10deg);
	transform: skew(0deg);
}

/* NAV */

.fixed {
	background-size: 63%;
	background-position: center;
	background-repeat: no-repeat;
	mix-blend-mode: difference;
	position: relative;
	width: 100%;
	height: 100%;
	margin: auto;
	background-image: none;
}

.navbar {
	height: 100%;
	width: 20%;
	display: grid;
	grid-template-areas:
		"a1 a2 a3"
		"b1 b2 b3"
		"c1 c2 c3"
		"d1 d2 d3"
		"e1 e2 e3"
		"f1 f2 f3";
	pointer-events: all;
}

#jp {
	grid-area: b2;
	// border: red dotted 1px;
	user-select: none;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#xi {
	grid-area: c2;
	// border: red dotted 1px;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

#y {
	grid-area: d2;
	// border: red dotted 1px;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	align-items: center;
}

#z {
	grid-area: e2;
	// border: red dotted 1px;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	align-items: center;
}

.navi {
	font-family: GothamXNUI;
	color: $bloodred;
	font-size: 4vh;
	// transition: ease-in-out 100ms;
}

.skew {
	transform: skew(30deg);
}

.screen {
	// background: url("../src/assets/DSC_3799.jpg");
	position: fixed;
	justify-content: flex-end;
	pointer-events: none;
	height: 100vh;
	width: 100vw;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-around;
	z-index: 1;
	overflow: scroll;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 3;
}

.screen2 {
	width: 60%;
	height: 100%;
}

.wrapper-fixed {
	background: transparent;
	pointer-events: none;
	// background: url("../src/assets/DSC_3799.jpg");
	position: fixed;
	justify-content: flex-end;
	height: 100vh;
	width: 100vw;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-around;
	// transition: ease-in-out 1s;
	z-index: 2;
	overflow: scroll;
}

/* MAIN */

.wrapper {
	background: $spacegray;
	// background: url("../src/assets/DSC_3799.jpg");
	position: relative;
	justify-content: flex-end;
	height: 100vh;
	width: 100vw;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-around;
	// transition: ease-in-out 1s;
	z-index: 1;
	overflow: scroll;
}

.pizza {
	height: 20%;
	width: 100%;
	font-size: 5vh;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
}

.vic-super {
	background-image: url(./assets/images/vic-super-front.png);
	background-size: 100%;
	// background-color: red;
	background-position: center;
	background-repeat: no-repeat;
	mix-blend-mode: difference;
	position: relative;
	width: 60%;
	height: 100%;
	margin: auto;
}

.vic-super-back {
	background-image: url(./assets/images/VIC-SUPER-2.png);
	background-size: 100%;
	// background-color: red;
	background-position: center;
	background-repeat: no-repeat;
	mix-blend-mode: difference;
	position: relative;
	width: 60%;
	height: 100%;
	margin: auto;
}

#vic-super-about {
	// background-image: url(./assets/images/vic-super-3.png);
	background-size: 100%;
	// background-color: red;
	background-position: center;
	background-repeat: no-repeat;
	mix-blend-mode: difference;
	position: relative;
	width: 60%;
	height: 100%;
	margin: auto;
}

.text {
	padding: 30px;
	font-family: GothamXNBI;
	text-transform: uppercase;
	text-align: center;
	font-size: 9vmin;
	width: 60%;
	color: red;
	mix-blend-mode: color-dodge;
	position: absolute;
	position: 40% 40%;
	margin: auto;
	z-index: 9;
}
