* {
  box-sizing: border-box;
}

:root {
  --sidious-red: #ff1462;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Neue Machina;
  font-size: 10px;
  background-color: var(--sidious-red);
}

canvas {
  height: 100vh !important;
  width: 100vw !important;
  background: transparent;
  /* mix-blend-mode: overlay; */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.title h1:hover {
  cursor: pointer;
}

#vicPix:hover {
  filter: none !important;
  /* transform: scale(1.1); */
}

.keyboard {
  background: rgb(2, 2, 2);
}

.key {
  color: rgb(5, 5, 5);
  background: rgb(15, 15, 15);
  width: 6.6%;
  margin: 0 0.4%;
  cursor: pointer;
  border-radius: 0 0 5px 5px;
  box-shadow: #000 0px 5px;
}
.key:hover {
  background: rgb(10, 10, 10);
  transform: translateY(3%);
}
.black-key {
  color: transparent;
  background: rgb(25, 25, 25);
  margin: 0 -2%;
  width: 4%;
  height: 70%;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  z-index: 99;
  box-shadow: #000 0px 5px;
}
.black-key:hover {
  background: rgb(10, 10, 10);
}
