/* @font-face {
  font-family: "Flag";
  src: url("./fonts/Flag.ttf") format("ttf");
}

@font-face {
  font-family: "NuMachina";
  src: url("./fonts/NeueMachina-Regular.otf") format("otf");
}

@font-face {
  font-family: "NuMachinaUltrabold";
  src: url("./fonts/NeueMachina-Ultrabold.otf") format("otf");
} */

* {
  box-sizing: border-box;
}

:root {
  --sidious-red: #ff1462;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 10px;
  background-color: var(--sidious-red);
}

canvas {
  height: 100vh !important;
  width: 100vw !important;
  background: transparent;
}

.blm-svg,
.tara-svg {
  margin: 1rem;
  box-shadow: var(--sidious-red) 5px 5px;
}

.blm-svg:hover,
.tara-svg:hover {
  transform: scale(1.1);
}

/* DONATION LOGO FILLS TO COUNTER PARENT'S (NAVBAR) MIX-BLEND-MODE*/
.blm-svg rect {
  fill: lime;
  border-radius: 1rem;
}

.blm-svg path {
  fill: var(--sidious-red);
}

.tara-svg rect {
  fill: mintcream;
  border-radius: 1rem;
}

.tara-svg path {
  fill: var(--sidious-red);
}

.title h1:hover {
  cursor: pointer;
}
